/* root */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

:root {
  --primary-color: rgb(85, 26, 139);
}

* {
  font-family: "Space Mono", monospace;
}

a {
  color: var(--primary-color);
}

h1 {
  user-select: none;
}

html{
  scroll-behavior: smooth;
}

/* Início */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(85, 26, 139, 0.8);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #6b4798b8;
}

#page-home .container {
  width: 70%;
  max-width: 1100px;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

#page-home header ul {
  display: flex;
}

#page-home header ul li {
  padding-left: 50px;
}

#page-home header ul li a:hover {
  color: black;
}

#page-home header a {
  font-weight: 700;
  text-transform: uppercase;
}

#page-home main{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

#page-home h1, #page-home picture{
  align-self: flex-end;
  margin-top: 150px;
}

#page-home picture, #page-home picture img{
  animation: logo 2s infinite alternate-reverse ease-in-out;
}

.hover-underline-animation {
  font-weight: 600;
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.08s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#page-home main h1 {
  font-size: 50px;
  line-height: 74px;
}

#page-home main strong {
  transition: 600ms;
}

#page-home main strong:hover {
  text-decoration: underline;
}

header ul li:last-of-type>a{
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
}

header ul li:last-of-type>a:hover{
  background-color: #6b4798b8;
}

/* Projetos */

#projetos {
  background: -moz-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104, 108, 153, 1)), color-stop(47%, rgba(113, 118, 153, 1)), color-stop(100%, rgba(104, 108, 153, 1)));
  background: -webkit-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -o-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -ms-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: linear-gradient(to bottom, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  -webkit-box-shadow: inset 0px 5px 38px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 5px 38px -5px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 5px 38px -5px rgba(0, 0, 0, 1);
  padding: 50px 0 200px 0;
  -webkit-clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

#projetos h1,
#contato h1 {
  font-size: 50px;
  padding: 200px 0 50px;
  color: #fffaf8;
}

#projetos p,
#contato p {
  color: white;
  line-height: 24px;
}

#projetos ul {
  display: grid;
}

#projetos ul li .site {
  color: white;
  background-color: rgba(218, 205, 255, 0.39);
  width: 400px;
  height: 400px;
  margin: 0 100px 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#projetos ul li img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

#projetos ul li h3 {
  color: white;
  font-size: 30px;
  padding: 50px;
  font-weight: 600;
}

#projetos ul li h3::after {
  margin: 15px;
  display: grid;
  content: "";
  width: 150px;
  height: 2px;
  background-color: white;
}

#projetos ul li p {
  margin-bottom: 50px;
}

#projetos ul li a {
  color: white;
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
}

#projetos ul li .github {
  color: white;
  font-variant: small-caps;
  transition: 300ms;
  font-size: 20px;
  float: right;
  text-decoration: overline;
  margin-left: 15px;
  font-weight: 400;
  text-transform: unset;
}

#projetos ul li a:hover {
  text-decoration-color: var(--primary-color);
}

/* Sobre mim */

#sobre h1 {
  font-size: 50px;
  padding: 50px 0;
  color: var(--primary-color);
}

.habilidades {
  display: flex;
  justify-content: space-between;
}

.habilidades img {
  max-width: 600px;
  height: 400px;
}

.lista-sobre li {
  width: 300px;
}

.lista-sobre p {
  font-size: 14px;
  display: none;
}

.lista-sobre p.ativo{
  display: block;
}

.lista-sobre {
  font-size: 30px;
  padding: 50px 0 50px 50px;
  line-height: 50px;
  width: 300px;
}

.lista-sobre .ativoLink {
  font-size: 40px;
  color: var(--primary-color);
}

.lista-sobre span,
.lista-sobre li a {
  font-size: 30px;
  color: black;
}

/* Contato */

#contato {
  background-color: #686c99;
  background: -moz-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104, 108, 153, 1)), color-stop(47%, rgba(113, 118, 153, 1)), color-stop(100%, rgba(104, 108, 153, 1)));
  background: -webkit-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -o-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: -ms-linear-gradient(top, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  background: linear-gradient(to bottom, rgba(104, 108, 153, 1) 0%, rgba(113, 118, 153, 1) 47%, rgba(104, 108, 153, 1) 100%);
  -webkit-box-shadow: inset 0px -5px 38px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -5px 38px -5px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -5px 38px -5px rgba(0, 0, 0, 1);
  -webkit-clip-path: polygon(0 0, 50% 18%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  clip-path: polygon(0 0, 50% 18%, 100% 0, 100% 100%, 50% 100%, 0 100%);
}

#contato .conteudo {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  color: white;
  gap: 0 30px;
}

.conteudo h2 {
  padding: 50px 0 30px;
  font-size: 25px;
}

.email {
  width: 100%;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
}

.textbox textarea {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 85%;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

#contato {
  text-align: center;
}

.redes-sociais {
  padding: 50px 0;
}

.s-m a {
  display: inline-flex;
  width: 80px;
  height: 80px;
  background: #2c3e50;
  color: white;
  margin: 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-size: 22px;
}

.s-m a:hover {
  background: var(--primary-color);
}

.s-m a i {
  transition: 0.8s all;
}

.s-m a:hover>i {
  transform: scale(2) rotate(30deg);
}

#contato p {
  background-color: rgba(85, 26, 139, 0.3);
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
}

@media only screen and (min-width: 788px) and (max-width: 1160px) {
  #page-home main{
    display: inline;
    text-align: center;
    justify-self: left;
  }

  #page-home picture img {
    padding-top: 70px !important;
  }
  
  #page-home header ul li{
    padding-left: 40px;
  }

  .habilidades {
    display: flex;
    justify-content: center;
  }

  .habilidades img {
    max-width: 500px;
    height: 300px;
  }

  .lista-sobre li{
    width: 200px;
  }
  
  .lista-sobre li span {
    font-size: 18px;
  }

  #contato .conteudo {
    display: grid;
    color: white;
    gap: 0 30px;
  }
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  #page-home main{
    display: inline;
    text-align: center;
  }

  #page-home picture img {
    padding-top: 70px !important;
  }

  #page-home header {
    display: grid;
    margin: 0 auto;
    height: 200px;
  }

  #page-home header ul li {
    padding: 0 20px;
  }

  #page-home main h1 {
    text-align: center;
  }

  #projetos {
    background-color: #686c99;
    padding-bottom: 250px;
    -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  }

  #projetos ul li .site {
    margin: 70px 0 0;
    width: 300px;
    height: 300px;
  }

  #projetos ul li h3 {
    padding: 30px 0;
  }

  #projetos ul li h3::after {
    margin: 15px 0;
  }

  .habilidades {
    display: block;
  }

  .habilidades img {
    max-width: 350px;
    height: 200px;
  }

  .habilidades .lista-sobre {
    font-size: 30px;
    padding: 50px 0;
  }

  #contato {
    -webkit-clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 50% 8%, 100% 0, 100% 100%, 50% 100%, 0 100%);
  }

  #contato .conteudo {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 0 30px;
  }
}

/* Estilo menor */
@media only screen and (max-width: 550px) {
  #page-home .container {
    width: 100%;
  }

  #page-home header ul li {
    padding: 0 10px;
  }

  .habilidades .lista-sobre {
    font-size: 30px;
    padding: 50px 0;
  }
}

.js .js-tabImagens li{
  display: none;
}

.js .js-tabImagens li.ativo {
  display: block;
  animation: show .5s forwards;
}

.js .js-tabLink p.ativo{
  animation: show .5s forwards;
}

@keyframes show {
  from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes logo{
  from{
    transform: rotate(3deg);
  }
  to{
    transform: rotate(-3deg);
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: .3s;
}

.js .js-projetos {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
}

.js .js-projetos.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: .3s;
}
